/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    position: fixed; /* Fix the navbar position */
    top: 0; /* Position it at the top of the viewport */
    width: 100%; /* Make it span the full width of the viewport */
    z-index: 1000; /* Ensure it appears above other content */
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: calc(100vh);
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 80px;
    background-color: #f1f1f1;
    height: 100%;
}

.maincont {
    padding-top: 50px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

/* Set footer position to fixed */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #555;
    color: white;
    padding: 15px;
    z-index: 1000; /* Ensure it appears above other content */
}
