.App {
    background-color: rgb(156, 156, 250);
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    position: fixed; /* Fix the navbar position */
    top: 0; /* Position it at the top of the viewport */
    width: 100%; /* Make it span the full width of the viewport */
    z-index: 1000; /* Ensure it appears above other content */
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: calc(100vh);
}

.mytopraw {
    padding-bottom: 20px;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 80px;
    background-color: #f1f1f1;
    height: 100%;
    z-index: 500; /* Ensure it appears above other content */
    position: fixed; /* Fix the position */
}

.left-sidenav {
    left: 0; /* Position the left sidebar */
    width: 200px; /* Set width for left sidebar */
}

.right-sidenav {
    right: 0; /* Position the right sidebar */
    width: 200px; /* Set width for right sidebar */
}


.maincont {
    padding-top: 80px; /* Height of the top navbar */
    padding-left: 220px; /* Width of the left sidebar */
    padding-right: 50px;
    padding-bottom: 80px;
    margin-left: 50px;
    margin-right: 50px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

/* Set footer position to fixed */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #555;
    color: white;
    padding: 15px;
    z-index: 1000; /* Ensure it appears above other content */
}
